<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="store_review_created">
        <observer name="inchoo_reviewEmail_created" instance="Inchoo\ReviewEmail\Observer\ReviewEmailSender"/>
    </event>
</config>